from learn_sql_model.api.{{modelname.lower()}} import {{modelname.lower()}}_router
from learn_sql_model.cli.{{modelname.lower()}} import {{modelname.lower()}}_app
from learn_sql_model.models.{{modelname.lower()}} import {{modelname}}
from learn_sql_model.models.{{modelname.lower()}} import {{modelname}}Create
from learn_sql_model.models.{{modelname.lower()}} import {{modelname}}Delete
from learn_sql_model.models.{{modelname.lower()}} import {{modelname}}Read
from learn_sql_model.models.{{modelname.lower()}} import {{modelname}}Update
