from learn_sql_model.models.{{modelname.lower()}} import {{modelname}}
from learn_sql_model.models.{{modelname.lower()}} import {{modelname}}Create
from learn_sql_model.models.{{modelname.lower()}} import {{modelname}}Read
from learn_sql_model.models.{{modelname.lower()}} import {{modelname}}Update
from learn_sql_model.models.{{modelname.lower()}} import {{modelname}}Delete
